body{
    background-image: url('https://phonoteka.org/uploads/posts/2022-02/1645102279_15-phonoteka-org-p-shumoizolyatsiya-fon-21.jpg');
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}


h3 {
    font-size: 15pt;
    color: 	white;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
    }


ul{
    color: white;
}

p{
color: white;
}

img{
    border: solid #9933CC;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.font-style{
        font-family: 'Handlee', cursive;
        font-size: 20pt;
}

.section {
border: solid #9933CC;
	background-color: #333333;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.video{
    border: solid #9933CC;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 10px;
    position: center center;
}

form {
    text-align: center;
    margin-top: 0;
}

.submit {
    background-color: #9933CC;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}


  
a.telegram{
border: solid #9933CC;
  display: inline-block;
  background: #2196f3;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
}

a.instagram{
border: solid #9933CC;
  display: inline-block;
  background: #FF0033;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
}

a.pinteres{
border: solid #9933CC;
  display: inline-block;
  background: #CC0000;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
}

div {
  margin: 24px;
  text-align: center;
}
